body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: stretch;
  justify-content: center;
  border: 5px solid red;
}

.imageHalf{
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 80vh;

}

#leaves{
  height: 900px;
  width: 600px;
  object-fit: fill;
  min-height:100vh;
  max-width: 80vh;

}

#photoCredits{
  display: flex;
  justify-content: center;
  font: 1em/1.5em "Roboto", sans-serif;
  color: lightgray;
  position: absolute;
  bottom: 1em;
  left: 20em;
}

.formHalfContent{
  display: flex;
  flex-direction: column;
  border:5px solid red;
  text-align: left;
  justify-content: space-around;
  height: 100vh;
}

form {
  padding: 1em;
  border-radius: 1em;
  margin: 1em;
  justify-content: center;
  border: 5px solid green;
  align-content: center;
}

.formElement{
  border: 5px solid blueviolet;
  display: flex;
}

.formFirstColumn,
.formSecondColumn{
  display: flex;
  flex-direction: column;
  padding: 1em;
  justify-content: flex-start;
  align-content: flex-start;
}

p + p {
  margin-top: 1em;
}

label {
  display: inline-block;
  min-width: 90px;
  text-align: right;
}

input,
textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  outline-style: solid;
  outline-color: #000;
}

input:valid{
  border-color: green;
}

input:invalid{
  border-color: red;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.button {
  padding-left: 90px;
}

button {
  margin-left: 0.5em;
}
