body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Roboto",sans-serif;
}


html, body {
  overflow: hidden;
}


@font-face {
  font-family: Norse-Bold;
  src: url("./fonts/Norse-Bold.otf") format("opentype");
}

@font-face {
  font-family: Roboto;
  src: url("./fonts/Roboto-Regular.ttf") format("opentype");
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  align-items: stretch;
  justify-content: center;
  font-family: "Roboto",sans-serif;
  background-color: black;

}

.imageHalf{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 80vh;
}

#leaves{
  position: relative;
  height: 900px;
  width: 600px;
  object-fit: fill;
  min-height:100vh;
  max-width: 80vh;
}

.logoContainer{
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 200px;
  width: 100%;
  height: 21%;
  float: left;
  color: white;
  font-family: Norse-Bold, sans-serif;
  opacity: 0.9;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: rgba(0,0,0,0.5)

}
#odinLogo{
  width: 160px;
  left: 200px;
  height:200px;
  float: left;
}

#odinLogoText {
  margin-top: 120px;
  font-size: 6rem;
  top: 200px;
}

#photoCredits{
  display: flex;
  justify-content: center;
  font: 1em/1.5em "Roboto", sans-serif;
  color:  #f9f9f9;
  position: relative;
  bottom: 2em;
}

.formHalfContent{
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  height: 100vh;
  font-family: "Roboto",sans-serif;
  font-size: 1.2rem;
  background-color:  #f9f9f9;
}

.formHalfTopContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  inline-size: 29em;
  padding-left: 2.15em;
  background-color:  #f9f9f9;
  width: 100vh;
  height: 40vh;
}

form {
  display: flex;
  border-radius: 0;
  margin: 1em;
  background-color: white;
  height: 30vh;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  left: -1em;
}

.formElement{
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 1em;
  flex-grow: 1;
  width: 100%;
  border: none;
  box-shadow: 0 10px 10px #888888
}

.formFirstColumn,
.formSecondColumn{
  display: flex;
  flex-direction: column;
  padding: 1em;
  justify-content: flex-start;
  align-content: flex-start;
  position: relative;
}

.input{
  border: 1px #E5E7EB;
}

.passwordInput{

}

p + p {
  margin-top: 1em;
}

label {
  display: inline-block;
  min-width: 90px;
  text-align: right;
}

.formHalfBottomContainer{
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #f9f9f9;
  height: 30vh;
  font-family: Roboto, serif;
}

input,
textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  outline-style: solid;
  outline-color: #000;
}


#createAccountButton{
  background-color: #596D48;
  color: white;
  position:relative;
  left: -4.25em;
  top: -1em;
  width: 12rem;
  height: 4rem;
  border-radius: 0.7rem;
  padding-top: 1.2rem;
  padding-bottom: 1rem;
  font-family: Roboto, serif;
  font-weight: bold;
  font-size: 0.95rem;
}
#createAccountButton:focus{
  background-color: #4aab58;
}

.accountAlready{
  position: relative;
  padding-left: 2em;
}
#signUpButton{
}


input:valid{
  border-color: green;
}

input:invalid{
  border-color: red;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.button {
  padding-left: 90px;
}

button {
  margin-left: 0.5em;
}